@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';

html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav bar */

 nav ul {
  display: inline-block;
  position: fixed;
  text-align: right;
  height:100px;
  width: 100%;
  background-color: #009A91;
  font-family: "nunito",sans-serif; 
  font-size: 1.6em; 
  left: 0;
  
}

nav ul li {
  display: inline-block;
  margin: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none; 
  
}
nav ul li a:hover {
  color: #ababab;
}


/* home page */
#home {
  background: white;
  line-height: 1.6;
  padding-top: 500px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 500px;
}

#about-me {
  top: 100;
  bottom: 100;
  line-height: 1.6;
  background: #00716A;
  min-height: 55vh;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: left;
}

#projects {
  top: 100;
  bottom: 100;
  line-height: 1.6;
  min-height: 55vh;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: left;
}

/*boxes*/
.front-ribbon{
  padding: 10%;
  width: 85%;
  text-align: auto;
  z-index: 1;
}

.back-ribbon{
  width:100%;
  text-align: auto;
  z-index: 2;
}

.project-ribbon{
  width: 100%;
  text-align: auto;
  z-index: 4;
}


/*colours*/
.dark-teal{
  color: #00716A;
}

.light-teal{
  color: #009A91;
}


/*text styles*/
h1, .h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

h2, .h2 {
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.5em;
}

p, .p {
  font-size: 1.5em;
  padding-bottom: 40px;
}
